 a.test { font-weight: bold; }
.umeng-header{
    background:#4963A4;
    border
}
.umeng-grid-b .umeng-bar{
    border-radius:5px;
    margin:10px;
    height:80px;
    background:#E7EFFE;
    border:1px solid #BACDEE;
    text-align:center;
}
.umeng-grid-b .umeng-bar .umeng-bar-table{
    border-top: 1px solid #BACDEE;
    margin-top:10px;
}
.umeng-grid-b .umeng-bar .umeng-bar-table div{
    margin-top:10px;
}
.umeng-grid-b .umeng-bar .umeng-bar-table div span:nth-of-type(2){
    color:#378D00;
}
.clear{
    clear:both;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.box_shadow1{
    -webkit-box-shadow:0 0 5px rgba(0,0,0,0.2);
    -ms-box-shadow:0 0 5px rgba(0,0,0,0.2);
    -moz-box-shadow:0 0 5px rgba(0,0,0,0.2);
    box-shadow:0 0 5px rgba(0,0,0,0.2);
}
.box_shadow2{
    -webkit-box-shadow:inset 0 0 15px rgba(0,0,0,0.4);
    -ms-box-shadow:inset 0 0 15px rgba(0,0,0,0.4);
    -moz-box-shadow:inset 0 0 15px rgba(0,0,0,0.4);
    box-shadow:inset 0 0 15px rgba(0,0,0,0.4);
}
.box_gradient1{
    background:-webkit-linear-gradient(#F96A6A, red);
    background:-ms-linear-gradient(#F96A6A, red);
    background:-moz-linear-gradient(#F96A6A, red);
    background:inear-gradient(#F96A6A, red);
}
.umeng-listview li{
    height:87px;
    background:white;
}
.umengapp_content{
    margin:0em 0;padding-left:10px;padding-right:10px;
}
.umengapp_content .app_list{
    position:absolute;top:20%;width:100%;margin-left:5px;
    
}
.umengapp_content .umeng-listview{
    -webkit-border-radius:0;
    -ms-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    border:1px solid #BACDEE;
}
.umengapp_content .umeng-listview li{
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -ms-border-radius:0;
    border-radius:0;
    border:none;
    border-bottom:1px solid #BACDEE;
}
.umengapp_content .umeng-listview li:last-child{
    border:none;
}
.umengapp_content .app_list .app_name{
    font-size:15px;margin-left:0px;
}
.umengapp_content .app_list .app_newers_count{
    margin-left:5%;font-size:25px
}
.umengapp_content .app_list .app_newers_content{
    margin-left:2px;font-size:9px;color:#646464;
}
.new_msgs_count{
    min-width:34px;
    min-height:34px;
    position:absolute;
    right:30px;
    top:30px;
    color:white;
    text-align:center;
    -webkit-border-radius:50%;
    -ms-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    box-shadow: 0 0 0 2px white,0 1px 10px black;
}
.new_msgs_count span{
    margin-top:5px;
    display:block;
    font-size:20px;
}
.appstatus{
    width:10px;height:79px;margin:4px;
}
.appstatus-a{
    background:#FFF100;
}
.appstatus-b{
    background:#8FC31F;
}
.appstatus-c{
    background:#EB2701;
}
.umengapp_content .umeng-icon{
    display:none;
}